.rentalhistory-index--formPopup {
  /* background-color: black;
  color: white;
  border: 15px solid white;
  width: 100px;
  white-space: pre; */
}

/* .rentalhistory-index--popup {
  background-color: black;
  color: white;
  border: 15px solid white;
  width: 160px;

  white-space: pre;
}
.rentalhistory-index--buttonEdit {
  padding: -10px -10px -10px;
  height: 30px;
} */

#test {
  margin-top: 10rem;
  height: 70px;
  /* overflow: scroll; */
}
a {
  margin-left: 40%;
}
i:hover {
  color: #4285f4;
}

.dropdown-menu {
  position: fixed;
}

.dropdown .dropdown-menu .dropdown-item {
  /* padding: 1rem; */
  /* margin-left: 0; */
}

.dropdown .dropdown-menu .dropdown-item:hover {
  /* box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  color: white;
  background: #4285f4;
}
